<!DOCTYPE html>
<html>


<head>
  <link rel="stylesheet" type="text/css" href="style.css">

  <title>Hogwarts Students</title>
</head>
<body>

<div class = "navbar"
<nav>
  <ul>
    <li>
      <a href="/students">All students</a>
    </li>
    <li>
      <a href="/students/new">Register Student</a>
    </li>
  </ul>
</nav>
</div>
<div class = "background">


  <%= yield %>
  </div>
</body>
</html>
